@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#060058,#f4a2e0);
    color: #fff;
    padding-top: 4%;
    padding-left: 1%;
    padding-right: 4%;
}
.container h1{
        display: flex;
        align-items: center;
        font-size: 35px;
        font-weight: 600;
        color: #ffffff;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 25px;
    margin-right: 15px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#329bf7,#000000);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0 10px 5px;
    border: 1px solid #fff;
}
.container button:hover{
    background: linear-gradient(#c31c1c,#000000);
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff;
}
.container button:active{
    background: linear-gradient(#c31c1c,#000000);
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #000000;
    margin: 5px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.701) ;
    border-radius: 10px;
}
.input-box img{
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}
.input-box img:hover{
    border: 2px solid rgb(8, 0, 255);
}
.input-box img:active{
    border: 2px solid rgb(8, 0, 255);
}