*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#label{
    color: #fff;
    font-size: x-large;
}

#clock{
    height: 50px;
    width: 150px;
    background-color: rgb(73, 1, 102);
    border-radius: 20px;
    margin: 15px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 500;
    padding-top: 15px;
}