*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
    margin: 25% auto 25%;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
}

.main-content{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content div{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 40px;
}

#red{
    background-color: red;
}
#blue{
    background-color:blue ;
}
#green{
    background-color: green;
}
#grey{
    background-color: gray;
}